@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<input type="button" class="btn btn-default" value="Testknapp"/>
<input type="button" class="btn btn-sm" value="Testknapp 2" />
<br /><br />

<form>
    <label for="test" class="">Textruta</label>
    <input id="test" type="text" class="input-lg" />
</form>
<br />
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Start Time</legend>
    <div class="control-group">
        <label class="control-label input-label" for="startTime">Start :</label>
        <div class="controls bootstrap-timepicker">
            <input type="text" class="datetime" type="text" id="startTime" name="startTime" placeholder="Start Time" />
            <i class="icon-time"></i>
        </div>
    </div>
</fieldset>

<br /><br />

<table class="table table-striped">
    <thead>
       <tr>
           <td>
               Kolumn 1
           </td>
           <td>
               Kolumn 2
           </td>
       </tr>
    </thead>
    <tr class="">
        <td>1 abcdef</td>
        <td>2 ghijkl</td>
    </tr>
    <tr class="">
        <td>1 abcdef</td>
        <td>2 ghijkl</td>
    </tr>
    <tr class="">
        <td>1 abcdef</td>
        <td>2 ghijkl</td>
    </tr>
</table>

<br /><br />

<select class="form-control">
    <option value="sokande">Sökande</option>
    <option value="chef">Chef jsljdlsjaldjlsakjdlasjdlajdkl</option>
    <option value="arbetare">Arbetare</option>
    <option value="admin">Admin</option>
</select>