@model PersonalSystem.ViewModels.ApplicantStartViewModel

@{
    ViewBag.Title = "ApplicantStart";
}

<div class="container">
    <br />
    <br />
    <h4>
        <u>
            @Html.ActionLink("Visa företag", "ShowCompanies", "Home")
        </u>
    </h4>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Företag</legend>
        <div>
            <label class="margin-right-5px">Sök företag</label><input type="text" name="company">
        </div>

        <ul class="list-style-type-none">
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
        </ul>

    </fieldset>
    <h4>
        <u>
            @Html.ActionLink("Visa lediga tjänster", "ShowVacancies", "Home")
        </u>
    </h4>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Tjänster</legend>
        <div>
            <label class="margin-right-5px">Sök tjänster</label><input type="text" name="vacancy">
        </div>

        <ul class = "list-style-type-none">
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
        </ul>

    </fieldset>
    <h4>
        <u>
            @Html.ActionLink("Skapa företag", "CreateCompany", "Home")
        </u>
    </h4>
</div>