@model PersonalSystem.ViewModels.CreateScheduleViewModel

@{
    ViewBag.Title = "CreateSchedule";
}

<div class="container">
    <br />
    <br />

    <fieldset class="scheduler-border">

        <legend class="scheduler-border">Skapa schema / Ändra schema</legend>

        <label>
            Avdelningar:
        </label>
        <br />
        <div>
            <label class="avdelning">Avdelning1</label><label class="editeraSchema">Skapa schema / Ändra schema</label><input type=checkbox name="editSchedule" unchecked>
            <br />
            <label class="grupp">Grupp1</label><label class="editeraSchema">Skapa schema / Ändra schema</label><input type=checkbox name="editSchedule" unchecked>
            <br />
            <label class="grupp">Grupp2</label><label class="editeraSchema">Skapa schema / Ändra schema</label><input type=checkbox name="editSchedule" unchecked>
            <br />
            <label class="avdelning">Avdelning2</label><label class="editeraSchema">Skapa schema / Ändra schema</label><input type=checkbox name="editSchedule" unchecked>
        </div>

    </fieldset>
</div>

