@model PersonalSystem.ViewModels.ShowCompaniesViewModel

@{
    ViewBag.Title = "ShowVacancies";
}

<div class="container">
    <br />
    <br />
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Lediga tjänster</legend>
        <div>
            <label class="margin-right-5px">Sök tjänster</label><input type="text" name="vacancy">
        </div>

        <ul class="list-style-type-none">
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
            <li>Tjänst2</li>
            <li>Tjänst3</li>
            <li>Tjänst4</li>
            <li>Tjänst1</li>
        </ul>

    </fieldset>
</div>
