@model PersonalSystem.ViewModels.ShowCompaniesViewModel

@{
    ViewBag.Title = "ShowCompanies";
}

<div class="container">
    <br />
    <br />
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Företag</legend>
        <div>
            <label class="margin-right-5px">Sök företag</label><input type="text" name="company">
        </div>

        <ul class="list-style-type-none">
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
            <li>Företag2</li>
            <li>Företag3</li>
            <li>Företag4</li>
            <li>Företag1</li>
        </ul>

    </fieldset>
</div>

